@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

@font-face {
    font-family: Oswald;
    src: url(fonts/Oswald.ttf) format("opentype");
    font-family: Roboto;
    src: url(fonts/RobotoCondensed-Regular.ttf) format("opentype");
}

html,body {
    height: 100%;
    width: 100%;
    font-family: Roboto;
}

body {
    background-color: #061e37;
    margin: 0;
    color: white;
}

header{
    background-color: #0c253e;
    height: 100px;
	width: 100%;
}

header > #name-logo{
    font-size: 52px;
    font-family: Oswald;
    color: white;
    float: left;
    display: block;
    padding: 5px 0px;
}

header > #small-text-logo{
    font-size: 16px;
    font-family: Oswald;
    color: #63a89d;
    font-weight: 400;
    float: left;
    display: block;
    padding: 25px 10px;
}

@media (max-width: 1400px) {
header > #name-logo{
    font-size: 39px;
    padding: 13px 0px;
}

header > #small-text-logo{
    font-size: 12px;
    padding: 28px 10px;
}
}

header > #logo{
    width: 38px;
    height: 51px;
    margin: 20px 20px;
    float: left;
    display: block;
    background: url(logo.png) no-repeat;
}

article{
    text-align: center;
    height: calc( 90% - 100px - 20px);
    font-family: Roboto;
    font-size: 20px;
}

@media (max-width: 1400px) {
    article {
		font-size: 18px;
    }
}

form{
    font-size: 16px;
}

h5{
    font-size: 12px;
    font-weight: lighter;
    color: ghostwhite;
}


    #startHome {
        position: relative;
        transform: none;
        left: 0px;
        top: 0px;
        margin-top: 150px;
		margin-bottom: 150px;
    }


#preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1{
    color: white;
    font-family: Roboto;
    font-size: 28px;
}

h3{
    color: white;
    font-family: Oswald;
    font-size: 24px;
    font-weight: normal;
    line-height: 50px;
}

@media (max-width: 1400px) {
    h3 {
        font-size: 14px;
    }
}

input, select{
    font-size: 0.8em;
    font-family: Tahoma;
    width: 400px;
    color: #63a89d;
    background-color: #0c253e;
    border: none;
    padding: 10px 0px;
    margin: 10px;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    border-radius: 25px;
}

@media (max-width: 1400px) {
    input, select {
        width: 90%;
    }
}

select{
    color: #0c253e;
    background-color: #f7f7f7;
}

select:hover, input:hover{
    background-color: #63a89d;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
}

h2{
    color: white;
    font-family: Roboto;
}

button{
    background-color: #63a89d;
    color: white;
    font-family: oswald;
    font-size: 1em;
    padding: 5px 20px;
    margin-top: 20px;
    margin-right: 5%;
    float: right;
    border: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    display: inline-block;
}

button:hover{
    background-color: white;
    color: #63a89d;
}

fieldset{
    border-color: #0c253e;
    height: 25%;
    padding-bottom: 25px;
    padding-top: 10px;
}

footer{
    background-color: #0c253e;
    text-align: center;
    clear:both;
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
    color: white;
    font-family: Oswald;
    font-size: 0.8em;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 1400px) {
    footer {
		height: 10px;
		font-size: 8px;
    }
}

#diagram{
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

#legenda{
    position: relative;
    margin-top: 100px;
}

.circle{
    border-radius: 50%;
    background-color: #63a89d;
    font-size: 18px;
    text-align: center;
    background-color: rgba(99, 168, 157, 0.6);
    margin: 0 auto;
    margin-left: 40px;
    display: inline-block;
}

.circleInt{
    font-size: 12px;
    color: #061e37;
}

.tabResults{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 150px;
}

th {
    height: 25px;
    background-color: #63a89d;
}

th, td {
    font-size: 15px;
    height: 45px;
    width: 33%;
}

tr:nth-child(even) { background: #0c253e; }
